<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body class="container-fluid d-flex flex-column justify-content-center text-center h-100">
		<h1>404 - OOPS!</h1>
		<br />
		<h2>Page does not exist, we can't find what you want to see here.</h2>
	</body>
</html>
