<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body class="container-fluid d-flex flex-column justify-content-center text-center h-100">
		<h1>Survey submitted successfully!</h1>
		<br />
		<h3>We will protect your privacy as always :)</h3>
	</body>
</html>
