<!DOCTYPE html>
<html lang="en">
	<%- include("./partials/head.ejs") %>
	<body>
		<h1>404 - OOPS!</h1>
		<br />
		<h2>Page does not exist, we can't find what you want to see here.</h2>
	</body>
</html>
